@page
@using Microsoft.AspNetCore.Mvc.Rendering
@model IndexModel
@{
    ViewData["Title"] = "Catalog";
}
@Html.AntiForgeryToken()

<div class="text-center">
    <h1 class="display-4">Inventory Equipment Catalog</h1>
    @if (Model.Equipments.Any())
    {
        <table class="table">
            @*Markup removed for brevity.*@

            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Rental Days</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Equipments)
            {
                item.RentalDays = item.RentalDays == 0 ? 1 : item.RentalDays;
                <tr>
                    <td id="@nameof(item.Name)_@item.Id">
                        @Html.DisplayFor(modelItem => item.Name, new { htmlAttributes = new { id = $"{nameof(item.Name)}_{item.Id}" } })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.RentalDays, new { htmlAttributes = new { id = $"{nameof(item.RentalDays)}_{item.Id}" } })
                    </td>
                    <td>
                        <a onclick="addItem(@item.Id)" href="#">Add To Card</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<div>
    <a class="btn btn-outline-dark btn-lg btn-block" asp-area="" asp-page="/Invoice">Get an Invoice</a>
</div>

<div>
    <br>
</div>

<div id="messageBlock" class="alert alert-success" role="alert" hidden="">
    <h4 class="alert-heading" id="message"></h4>
</div>


@section Scripts{
    <script>
        function addItem(id) {
            var rentalDays = $("#RentalDays_" + id).val();

            if (rentalDays < 0) {
                alert("Rental days could not be negative!");
            }

            var data = { "Id": id, "RentalDays": rentalDays };

            $.ajax({
                type: "POST",
                data: JSON.stringify(data),
                url: '/shared/_basket',
                contentType: "application/json; charset=utf-8",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                error: function (error) {
                    $("#message").html(JSON.stringify(error));
                },
                complete: function() {
                    var inventoryName = document.getElementById("Name_" + id).innerHTML.replace(/<[^>]*>/g, "");
                    $("#message").html(rentalDays + " rental day(s) for " + inventoryName + " added successfully!");
                    $("#messageBlock").removeAttr('hidden');
                }
            });
        }
    </script>
}